:root {
  /* FB Vars */
  --fds-gray-00: #f5f6f7;
  --fds-gray-05: #f2f3f5;
  --fds-gray-10: #ebedf0;
  --fds-gray-20: #dadde1;
  --fds-gray-25: #ccd0d5;
  --fds-gray-30: #bec3c9;
  --fds-gray-45: #8d949e;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #e4e6eb;
  --fds-gray-100: #1c1e21;
  --fds-fb-blue-70: #4267b2;
  --fds-fb-blue-75: #385898;

  /* Custom Vars */
  --cl-dark: #292929;
  --cl-white: #fff;
  --cl-drawer-bg: var(--cl-white);
  --cl-backdrop: rgba(0, 0, 0, 0.75);
  --cl-primary: var(--fds-fb-blue-70);
  --cl-secondary: #2a006e;
  --cl-accent: #f8df00;
  --cl-danger: #fa3e3e;
  --cl-danger-alpha: rgba(250, 62, 62, 0.9);
  --cl-danger-hover: #ca3131;
  --cl-overlay: rgba(255, 255, 255, 0.9);
  --cl-bg: var(--fds-gray-10);
  --cl-btn-bg: var(--fds-gray-00);
  --text-accent: var(--fds-fb-blue-75);
  --text-main: var(--fds-gray-100);
  --text-secondary: var(--fds-gray-80);
  --text-inverse: var(--cl-white);

  --z-drawer: 200;
  --z-backdrop: 100;
  --z-modal: 300;

  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  --main-header-height: 3.6rem;
  --border: 1px solid #bdc7d8;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: var(--cl-bg);
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  padding: calc(var(--main-header-height) + 1em) 0 2em;
}

button,
a {
  cursor: pointer;
  color: var(--text-main);
}

h1,
h2,
h3,
p {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 0.3em;
  }
  line-height: 1.4;
}

ul {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
